html {
	background: $larkspur-lite;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 5vw; /* 16px for 320px wide viewport */
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    @include responsive(phone) {
        font-size: 3.33333vw;
    }
    @include responsive(big-phone) {
        font-size: 2.5vw;
    }
    @include responsive(small-tablet) {
        font-size: 2vw;
    }
    @include responsive(medium-tablet) {
        font-size: 1.66667vw;
    }
    @include responsive(notebook-screen) {
        font-size: 1.42857vw;
    }
    @include responsive(max-screen) {
        font-size: 16px;
    }
}
body {
	background: $larkspur-white;
    color: $base-font-color;
    font-size: $base-type-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    margin: 0 auto;
    padding: .5rem;
    @include responsive(notebook-screen) {
        max-width: 1024px;
    }
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}
* + * {
    margin-top: 1.3em;
}
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
