.bl {
	@include border($color:$larkspur90);
	border-width: 0 0 0 1px;
}
.bv {
	@include border($color:$larkspur90);
	border-width: 1px 0;
}
.ba {
	@include border($color:$larkspur90);
	border-width: 1px;
}

.mv, .ma, .mt { margin-top: .5rem; }
.mh, .ma, .ml { margin-left: .5rem; }
.mv,.ma, .mb { margin-bottom: .5rem; }
.mh, .ma, .mr { margin-right: .5rem; }

.mv2, .ma2, .mt2 { margin-top: .25rem; }
.mh2, .ma2, .ml2 { margin-left: .25rem; }
.mv2, .ma2, .mb2 { margin-bottom: .25rem; }
.mh2, .ma2, .mr2 { margin-right: .25rem; }

.mvn, .man, .mtn { margin-top: 0; }
.mhn, .man, .mln { margin-left: 0; }
.mvn, .man, .mbn { margin-bottom: 0; }
.mhn, .man, .mrn { margin-right: 0; }

.pv, .pa, .pt { padding-top: .5rem; }
.ph, .pa, .pl { padding-left: .5rem; }
.pv, .pa, .pb { padding-bottom: .5rem; }
.ph, .pa, .pr { padding-right: .5rem; }

.pv2, .pa2, .pt2 { padding-top: .25rem; }
.ph2, .pa2, .pl2 { padding-left: .25rem; }
.pv2, .pa2, .pb2 { padding-bottom: .25rem; }
.ph2, .pa2, .pr2 { padding-right: .25rem; }

.pvn, .pan, .ptn { padding-top: 0; }
.phn, .pan, .pln { padding-left: 0; }
.pvn, .pan, .pbn { padding-bottom: 0; }
.phn, .pan, .prn { padding-right: 0; }

.masthead {
    position: relative;
	@include border($color:$larkspur90);
	border-width: 0 0 1px;
    > .logo {
        display: inline-block;
        vertical-align: middle;
        .site-name {
            font-family: 'Henny Penny', serif;
            font-weight: 400;
            line-height: 1;
            margin: 0;
            > span {
                color: $larkspur;
                display: inline-block;
                margin: 0;
                &:first-letter {
                    font-size: 1.2em;
                    color: hsl(40, 52%, 58%);
                    line-height: 2.5rem;
                    vertical-align: -.25rem;
                }
            }
        }
    }
    > a {
    	@include border($color:$green);
    	border-width: 1px;
        border-radius: 0.1875rem;
        color: $green;
        display: block;
        margin: 0 0 0 .25rem;
        position: absolute;
        top: .25rem;
        right: .25rem;
        text-decoration: none;
        .icon-menu {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            speak: none;

            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            /* opacity: .8; */

            /* For safety - reset parent styles, that can break glyph codes*/
            font-variant: normal;
            text-transform: none;

            /* fix buttons height, for twitter bootstrap */
            line-height: 1em;

            /* Animation center compensation - margins should be symmetric */
            /* remove if not needed */
            margin-left: .2em;

            /* You can be more comfortable with increased icons size */
            /* font-size: 120%; */

            /* Font smoothing. That was taken from TWBS */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.topnav {
    position: relative;
    text-align: right;
}
.menu {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: height 250ms ease-in;
    width: 320px;
    &.show {
        transition-timing-function: ease-out;
    }
    > li {
        border: solid #F6F2FA;
        border-width: 1px 1px 0;
        margin: 0;
        padding: 0;
        text-align: left;
        &:last-child {
            border-bottom-width: 1px;
        }
        > a {
            color: $larkspur;
            display: block;
            padding: .5rem 1rem;
            text-decoration: none;
            &:hover {
                background-color: hsla(40, 52%, 58%, .15);
            }
        }
    }
}
.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    > .group-item {
        background-color: $larkspur90;
    }
}
.site-footer {
	@include border($color:$larkspur90);
    border-width: 1px 0 0;
}
