@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?21332555');
  src: url('/font/fontello.eot?21332555#iefix') format('embedded-opentype'),
       url('/font/fontello.woff2?21332555') format('woff2'),
       url('/font/fontello.woff?21332555') format('woff'),
       url('/font/fontello.ttf?21332555') format('truetype'),
       url('/font/fontello.svg?21332555#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-zoom-in:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */

.bl {
	@include border($color:$larkspur90);
	border-width: 0 0 0 1px;
}
.bv {
	@include border($color:$larkspur90);
	border-width: 1px 0;
}
.ba {
	@include border($color:$larkspur90);
	border-width: 1px;
}
.bxb {
  box-sizing: border-box;
}
/* display styles */
.db {
	display: block;
}
.dib {
	display: inline-block;
}
.dl {
	display: inline;
}
.lh0 {
    line-height: 0;
}
/* margins */
.m0 { margin: 0; }

.ma { margin: .25em; }
.ma1 { margin: .5em; }
.ma2 { margin: 1em; }

.mv { margin: .25em 0; }
.mv1 { margin: .5em 0; }
.mv2 { margin: 1em 0; }

.mh { margin: 0 .25em; }
.mh1 { margin: 0 .5em; }
.mh2 { margin: 0 1em; }

.mt { margin-top: .25em; }
.mt1 { margin-top: .5em; }
.mt2 { margin-top: 1em; }

.mr { margin-right: .25em; }
.mr1 { margin-right: .5em; }
.mr2 { margin-right: 1em; }

.mb { margin-bottom: .25em; }
.mb1 { margin-bottom: .5em; }
.mb2 { margin-bottom: 1em; }

.ml { margin-left: .25em; }
.ml1 { margin-left: .5em; }
.ml2 { margin-left: 1em; }

/* paddings */
.p0 { padding: 0; }

.pa { padding: .25em; }
.pa1 { padding: .5em; }
.pa2 { padding: 1em; }

.pv { padding: .25em 0; }
.pv1 { padding: .5em 0; }
.pv2 { padding: 1em 0; }

.ph { padding: 0 .25em; }
.ph1 { padding: 0 .5em; }
.ph2 { padding: 0 1em; }

.pt { padding-top: .25em; }
.pt1 { padding-top: .5em; }
.pt2 { padding-top: 1em; }

.pr { padding-right: .25em; }
.pr1 { padding-right: .5em; }
.pr2 { padding-right: 1em; }

.pb { padding-bottom: .25em; }
.pb1 { padding-bottom: .5em; }
.pb2 { padding-bottom: 1em; }

.pl { padding-left: .25em; }
.pl1 { padding-left: .5em; }
.pl2 { padding-left: 1em; }

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.masthead {
  position: relative;
  padding: .25em;
  > .logo {
    display: inline-block;
    vertical-align: middle;
    .site-name {
      font-family: 'Henny Penny', serif;
      font-weight: 400;
      font-size: 2em;
      line-height: 1;
      margin: 0;
      > .slink span {
        color: $larkspur;
        display: inline-block;
        margin: 0;
        &:first-letter {
          font-size: 1.2em;
          color: hsl(40, 52%, 58%);
          line-height: 2.5rem;
          vertical-align: -.25rem;
        }
      }
    }
  }
}
.splash {
    position: relative;
}
.splash::after {
    background-color: $larkspur75dark;
    content: '';
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.hero-image {
    width: 100%;
}
.home-splash {
  position: relative;
  max-width: 30em;
  padding-bottom: 18em;
  .brand {
    color: $ruby;
  }
  img[class|="splash"] {
    box-shadow: 0.0625rem 0.0625rem .1875rem .125rem rgba(21, 15, 33, .15);
    position: absolute;
    bottom: 9rem;
    left: 10%;
    max-width: 175px;
    margin: 0 auto;
    &.splash-adge {
      bottom: 7rem;
      left: 35%;
    }
    &.splash-rjm {
      bottom: 4rem;
      left: 23%;
    }
  }

  @include responsive(big-phone) {
    .note {
      left: initial;
      right: .5rem;
    }
  }
  @include responsive(medium-tablet) {
    padding-left: 22rem;
    padding-bottom: 1rem;
    min-height: 20rem;
    img[class|="splash"] {
      top: 1rem;
      left: 1rem;
      &.splash-adge {
          top: 2rem;
          left: 9rem;
      }
      &.splash-rjm {
          top: 7rem;
          left: 4rem;
      }
    }
  }
}
.dad-jokes-sec {
  background: linear-gradient(to bottom, hsl(355, 38%, 20%), hsl(355, 38%, 38%));
  transform: rotate(3deg);
  .brand {
    color: lighten($blue, 30%);
  }
  .green {
    color: lighten($green, 50%);
  }
  > *:not(.ha-has) {
    position:relative;
    z-index: 3;
  }
  .ha-has {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    svg {
      position: absolute;
      z-index: 0;
      animation: 250ms infinite alternate linear;
      path {
        fill:rgba(255, 255, 255, .05);
      }
      &#ha1 {
        width: 15vw;
        top: 2%;
        left: 3%;
        animation-duration: 100ms;
        animation-name: ha1;
      }
      &#ha2 {
        width: 25vw;
        transform-origin:  center;
        animation-duration: 200ms;
        animation-name: ha2;
        top: 0%;
        right: 5%;
      }
      &#ha3 {
        width: 15vw;
        bottom: 5%;
        right: 5%;
        animation-duration: 150ms;
        animation-name: ha3;
      }
      &#ha4 {
        width: 33vw;
        top: 50%;
        right: 3%;
        animation-duration: 150ms;
        animation-name: ha4;
      }
      &#ha5 {
        width: 40vw;
        bottom: 25%;
        left: 5%;
        animation-name: ha5;
        animation-duration: 150ms;
      }
      &#ha6 {
        width: 15vw;
        bottom: 5%;
        left: 5%;
        transform: rotate(-5deg);
        animation-name: ha6;
        animation-duration: 750ms;
      }
      &#ha7 {
        width: 12vw;
        top: 25%;
        right: 50%;
        animation-name: ha7;
        animation-duration: 150ms;
      }
      @include responsive(medium-tablet) {
        &#ha1 {
            width: 4em;
        }
        &#ha2 {
            width: 10em;
        }
        &#ha3 {
            width: 6em;
            right: 33%;
            bottom: auto;
            top: 15%;
        }
        &#ha4 {
            width: 6em;
            top: auto;
            bottom: 1%;
            right: 15%;
        }
        &#ha5 {
            width: 6em;
            bottom: auto;
            top: 2%;
            left: auto;
            left: 25%;
        }
        &#ha6 {
            width: 7em;
        }
        &#ha7 {
            width: 12em;
        }
      }
    }

  }
  @include responsive(medium-tablet) {
    margin-left: 50%;
  }
}
@keyframes ha1 {
    from {
        transform: scale(1) rotate(-20deg);
    }
    to {
        transform: scale(.92) rotate(-20deg);
    }
}
@keyframes ha2 {
    from {
        transform: rotate(-11deg) rotate(-10deg);
    }
    to {
        transform: rotate(-7deg) rotate(-10deg);
    }
}
@keyframes ha3 {
    0% {
        transform: translate(0, 2px) rotate(14deg);
    }

    25% {
        transform: translate(2px, 2px) rotate(14deg);
    }

    50% {
        transform: translate(2px, -2px) rotate(14deg);
    }

    75% {
        transform: translate(-2px, -2px) rotate(14deg);
    }
    100% {
        transform: translate(0, 0) rotate(14deg);
    }
}
@keyframes ha4 {
    from {
        transform: skew(3deg) rotate(-33deg);
    }
    to {
        transform: skew(-3deg) rotate(-33deg);
    }
}
@keyframes ha5 {
    from {
        transform: scale(1) rotate(25deg);
    }
    to {
        transform: scale(1, .85) rotate(25deg);
    }
}
@keyframes ha6 {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .75;
    }
    20% {
        opacity: .5;
    }
    30% {
        opacity: .75;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    60% {
        opacity: .5;
    }
    70% {
        opacity: .75;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: .75
    }
    100% {
        opacity: .5;
    }
}
@keyframes ha7 {
    from {
        transform: scale(1) rotate(-13deg);
    }
    to {
        transform: scale(.95, 1) rotate(-13deg);
    }
}
.dad-jokes {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    min-height: 18em;
    p {
      align-self: center;
      justify-self: center;
      &.joke {
        line-height: 1.2;
        text-shadow: .125rem .125rem .125rem rgba(54, 0, 0, .75);
        @include responsive(medium-tablet) {
          line-height: 1.3;
          padding: 1em;
        }
      }
    }
    button {
      background: $larkspur;
      border: 0;
      color: $white;
      outline: 0;
    }
    @include responsive(medium-tablet) {
      p:not(.joke) {
        align-self: center;
        justify-self: center;
      }
    }
}
.topnav {
  position: absolute;
  right: -1rem;
  top: 22em;
  transform: rotate(90deg);
  transform-origin: bottom right;
  width: auto;
  @include responsive(medium-tablet) {
    top: 20rem;
    bottom: auto;
  }
}
.menu {
  list-style: none;
  min-width: 20rem;
  > li {
    display: inline-block;
    > a {
      color: $larkspur;
      display: block;
      padding: .25rem;
      position: relative;
      text-decoration: underline;
    }
  }
}
.project {
  margin: 0 0 0 25%;
  max-width: 56rem;
}
.wide {
  max-width: 48rem;
}
.group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    > .group-item {
        background-color: $larkspur90;
        box-shadow: .0625rem .0625rem .25rem .0625rem rgba(20,40,40, .25);
        header {
            @include responsive(medium-tablet) {
                max-height: 9.6875em;
                line-height: 0;
                overflow: hidden;
            }
        }
    }
    .s5 {
        background: linear-gradient(to top, rgba(21, 15, 33, .8), rgba(21, 15, 33, 0) 33%, rgba(21, 15, 33, 0) 100%);
        line-height: 1.4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .s5 > span.absolute {
		bottom: 1em;
		left: 1em;
		max-width: 10em;
    }
    .s5 a.blocks {
		background-color: $larkspur-lite;
	    box-shadow: -0.25em 0 0 .125em $larkspur-lite,
					0.25em 0 0 .125em $larkspur-lite;
        color: $logoGold;
        line-height: 1;
        padding-top: .1em;
        padding-bottom: .1em;
        text-decoration: none;
	    -webkit-box-decoration-break: clone;
	    box-decoration-break: clone;
    }
    @include responsive(big-phone) {
        grid-template-columns: 1fr;
    }
    @include responsive(medium-tablet) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include responsive(notebook-screen) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.items {
    position: relative;
    min-height: 12rem;
    .item {
        position: absolute;
        z-index: 0;
        width: 55.55556%;
        transition: transform .25s ease-in;
        transform-origin: top left;
        > img {
            box-shadow: 0.0625rem 0.0625rem .1875rem .125rem rgba(21, 15, 33, .15);
            cursor: pointer;
        }
        &.mid {
            transform-origin: top center;

            @include responsive(medium-tablet) {
                transform-origin: bottom center;
            }
        }
        &.right {
            transform-origin: top right;
            @include responsive(medium-tablet) {
                transform-origin: bottom right;
            }
        }
        &.view {
            transition-timing-function: ease-out;
        }
        @include responsive(medium-tablet) {
            transform-origin: bottom left;
        }
    }
    @include responsive(phone) {
        min-height: 18rem;
    }
    @include responsive(big-phone) {
        min-height: 22rem;
    }
    @include responsive(small-tablet) {
        min-height: 14rem;
    }
}
.project-group {
    @include responsive(small-tablet) {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}
.project-group-item {
    width: 100%;
    @include responsive(small-tablet) {
        flex-grow: 1;
        flex-basis: 10rem;
        &.copy {
            flex-grow: 2;
        }
    }
}
.items {
    .item {
        &.vert {
            width: 34.33333%;
        }
        &.pic1 {
            top: -1.38889%;
            left: 60%;
        }
        &.pic2 {
            top: 33.33333%;
            right: 5%;
        }
        &.pic3 {
            top: 1.38889%;
            left: 0;
        }
        &.pic4 {
            top: 10%;
            left: 2%;
        }
        &.pic5 {
            top: 5%;
            right: 19.44444%;
        }
        &.pic6 {
            top: 0;
            right: 2%;
        }
    }
}
.spec-rjm {
    .items {
        .item {
            &.pic7 {
                bottom: -.33333rem;
                left: .5rem;
            }
        }
    }
}
.spec-ea {
    .items {
        .item {
            &.pic1 {
                top: initial;
                bottom: 0;
                left: 0;
            }
            &.pic2 {
                top: initial;
                bottom: 0;
                right: 5%;
            }
            &.pic3 {
                top: -5%;
                left: 5%;
            }
            &.pic4 {
                top: 2.5%;
                right: 3%;
                left: initial;
            }
            &.pic5 {
                top: 10%;
                left: 2%;
            }
            &.pic6 {
                top: 5%;
                left: 20%;
            }
            &.pic7 {
                top: 0;
                right: 2%;
            }
        }
    }
}
.spec-sv {
    .items {
        .item {
            &.pic1 {
                left: initial;
                right: 1rem;
            }
            &.pic4 {
                top: inherit;
                bottom: 0;
                left: 5%;
            }
            &.pic5 {
                top: 15%;
                left: 0;
            }
            &.pic6 {
                top: 10%;
                left: 10%;
            }
            &.pic7 {
                top: 5%;
                right: 20%;
            }
            &.pic8 {
                top: 0;
                right: 0;
            }
        }
    }
}
.social-links {
  bottom: 0;
  right: -3rem;
  width: 3em;
}
a.soc-links {
    color: $green;
    font-size: 2rem;
}
.site-footer {
	@include border($color:$larkspur90);
  border-width: 1px 0 0;
  background-color: lighten($green, 50%);
  width: 100%;
}
.inline-list {
    list-style: none;
    > li {
        display: inline-block;
    }
    &.site-links li {
        &::after {
            border-left: .0625rem solid $ruby;
            content: '';
            display: inline-block;
            height: .75rem;
            vertical-align: middle;
        }
        &:last-child::after {
            display: none;
        }
        a {
            padding: .25rem .5rem;
        }
        &:first-child {
            a {
                padding-left: 0;
            }
        }

    }
}
